{% extends 'layouts/base.html' %} {% block content %}

<h1>About</h1>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum quam
  aspernatur, soluta accusamus veniam beatae nulla ex impedit optio, pariatur ut
  accusantium, temporibus aliquam repellendus eum eaque blanditiis molestiae
  illum explicabo fugit molestias assumenda repudiandae. Omnis cupiditate
  doloribus aspernatur? Quidem, cumque. Fugit autem, similique eaque repellat
  libero ducimus minima, unde obcaecati officiis corrupti, quisquam placeat!
  Doloremque omnis harum similique fugit fuga iste consequatur voluptatum
  molestiae voluptatibus aut, explicabo facilis fugiat corporis eligendi
  corrupti nulla illo ipsam quod laudantium. Voluptate aut repudiandae ducimus,
  assumenda exercitationem rem quos quidem natus quis voluptatum, sint
  architecto vitae iusto nostrum quaerat? Sapiente assumenda magni explicabo.
</p>

<h2>WebSite created by {{ username }}</h2>

{% endblock %}
